.card {
    padding: 20px;
    .card-content {
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: box-shadow 1s, transform 1s;
      border-radius: 10px;
  
      &:hover {
        box-shadow: 8px 8px 20px #353535, -8px -8px 16px #c1c1c1;
  
        .buttons {
          .card-button {
            box-shadow: 3px 3px 5px #353535, -3px -3px 5px #c1c1c1;
          }
        }
      }
  
      .title-time {
        .card-title {
          font-weight: bold;
          font-size: 1.5rem;
          // transition: color 1s;
        }
  
        .card-updated {
          font-weight: lighter;
          font-size: 0.5rem;
          justify-self: flex-start;
        }
      }
      .card-description {
        margin: 20px 0;
      }
  
      .bottom-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
  
        .tech {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          .img-container {
            width: 25px;
          }
        }
  
        .buttons {
          display: flex;
          gap: 20px;
          .card-button {
            padding: 5px;
            border-radius: 50%;
            text-align: center;
            width: 35px;
            transition: box-shadow 1.7s;
  
            &:active,
            &:focus {
              box-shadow: inset 3px 3px 5px #353535, inset -3px -3px 5px #c1c1c1;
            }
          }
        }
      }
    }
  }
  