.flexgrid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: inherit;
  cursor: none;
  top: 10%;

  .node {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    transition: 2s;

    &:hover {
      transition-duration: 0s;
    }
  }
}
