.flexgrid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  // z-index: 400;
  height: inherit;
  cursor: none;

  .node {
    width: 30px;
    height: 30px;
    transition: color 0.1s;
    border-radius: 2px;
    transform: background 2s;

    &:hover {
      // box-shadow: 3px 3px 5px #353535, -3px -3px 5px #c1c1c1;
      background: transparent;
    }
  }
}
