.flexgrid {
  top: 10%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  height: inherit;
  cursor: none;

  .node {
    width: 12px;
    height: 12px;
    transition: color 0.1s;
    border-radius: 2px;
    // transition: background 2s;
  }
}
