.menu-container {
  display: flex;
  // justify-content: center;
  position: fixed;
  padding: 50px;
  right: 0;
  border: 1px solid white;
  
  &:hover {
    .glow {
      opacity: 1;
    }
    .slide {
      transform: translate(0, 25px);
    }
    .slide-down {
      transform: translate(0, 100px);
    }
    .slide-down-further {
      transform: translate(0, 175px);
    }
    
    .search {
      // opacity: 1;
      transform: translate(-20px, 17px);
    }
    
    .top {
      align-self: flex-end;
      transform: skew(0);
      width: 150px;
      border-radius: 2px;
      background: #474747;
      opacity: 1;
      height: 60px;
      
      input {
        border-radius: 5px;
        padding: 10px 45px 10px 10px;
      }
      
    }

    .left,
    .right {
      transform: unset;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }
}

.top {
  // position: absolute;
  transform: rotate(-45deg) skew(20deg, 20deg) translate(27px, -27px);
  border-radius: 2px;

  input {
    // width: inh÷erit;
    width: 100%;
    height: inherit;
    // border-radius: 5px;
    font-size: 1.3rem;
    transition: border-radius 2s, padding 2s;

  }
  .mag {
    font-size: 1.5rem;
    transition: opacity 1s, transform 1s;
    opacity: 1;
  }
}


.cube {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-end;

  .search {
    transform: translate(-16.5px, -12.5px) rotate(-45deg) skew(15deg, 15deg);
    position: absolute;
    z-index: 19;
    transition: transform 2s;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    width: 50px;
    height: 50px;
    transition: transform 2s, width 2s, height 2s, border-radius 0.5s,
      color 0.8s, box-shadow 1s;

    .a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      padding: 3px 7px;
      margin-top: 3px;
    }

    &:hover {
      color: gold;
    }
  }

  .top {
    transform: rotate(-45deg) skew(20deg, 20deg) translate(27px, -27px);
  }
  .left {
    transform: translate(-26px, -43px) rotate(13deg) skew(20deg, 20deg);
  }

  .right {
    transform: translate(28px, -108px) rotate(-105deg) skew(20deg, 20deg);
  }

  .right2 {
    position: absolute;
    transform: translate(1000px, 0px);
  }
}

// @keyframes floatTop {
//   0% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -38) rotate(45deg);
//   }
//   50% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -47) rotate(45deg);
//   }
//   100% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -38) rotate(45deg);
//   }
// }
