.menu-container {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 50px;
  right: 0;
  border: 1px solid white;

  &:hover {
    .glow {
      opacity: 1;
    }
    .slide {
      transform: translate(0, 25px);
    }
    .slide-down {
      transform: translate(0, 100px);
    }
    .slide-down-further {
      transform: translate(0, 175px);
    }
    .top2 {
      transform: translate(-210px, 0);
      width: 180px;
      height: 60px;
      border-radius: 5px;
    }

    .top,
    .left,
    .right {
      transform: unset;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }
}

.top2 input {
  width: inherit;
  height: inherit;
  padding: 10px;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

.cube {
  display: flex;
  gap: 15px;
  flex-direction: column;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    width: 50px;
    height: 50px;
    transition: transform 2s, width 2s, height 2s, border-radius 0.5s,
      color 0.8s, box-shadow 1s;

    .a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      padding: 3px 7px;
      margin-top: 3px;
    }

    &:hover {
      color: gold;
    }
  }

  .top2 {
    position: absolute;
    transform: rotate(-45deg) skew(20deg, 20deg) translate(27px, -27px);
  }

  .top {
    transform: rotate(-45deg) skew(20deg, 20deg) translate(27px, -27px);
  }
  .left {
    transform: translate(-26px, -43px) rotate(13deg) skew(20deg, 20deg);
  }

  .right {
    transform: translate(28px, -108px) rotate(-105deg) skew(20deg, 20deg);
  }
}

.glow {
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(0px, 25px);
  background: #d8db48;
  box-shadow: 0 0 35px 30px #d8db48;
  transition: transform 0.8s, opacity 1.5s;
  opacity: 1;
  z-index: -50;
}

// @keyframes floatTop {
//   0% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -38) rotate(45deg);
//   }
//   50% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -47) rotate(45deg);
//   }
//   100% {
//     transform: matrix(0, 0.7, 1.4, 0, 50, -38) rotate(45deg);
//   }
// }
