.icon-container {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: black; */
}

.red,
.blue,
.yellow {
  position: relative;
  width: 50px;
  height: 50px;
  transition: transform 2s;
}

.yellow {
  background: yellow;
  transform: matrix(0, 0.7, 1.4, 0, 50, -38) rotate(45deg);
}

.blue {
  background: blue;
  transform: matrix(0, 1, 1, -0.5, -25, 0);
}

.red {
  background: red;
  transform: matrix(0, 1, 1, 0.5, -25, 0);
}
