.card {
    // border: 1px solid white;
    padding: 20px;
    .card-content {
        height: 100%;
        border: 1px solid white;
        padding: 20px;
        .card-title {
            font-weight: bold;
            font-size: 1.5rem;
        }
        .card-updated {
            font-weight: lighter;
            font-size: 0.7rem;
        }
        .card-description {
            margin: 20px 0;
        }
    }
}