@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --heading-color: #f4f4f4;
  --text-color: #999;
  --highlight-color: rgb(114, 217, 226);
  --primary-color: rgb(145, 190, 226);
  --bg-color: #444;
  --heading-font: 'Bebas Neue', cursive;
}


body {
  background-color: var(--bg-color);
  margin: 0;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

