@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary: #f4f4f4;
  --secondary: #999;
  --highlight: rgb(114, 217, 226);
  --primary-color: rgb(145, 190, 226);
  --bg-color: rgb(123, 123, 123);
  --heading-font: "Bebas Neue", cursive;
}

html {
  margin: 0;
  padding: 0;
  background: #474747;
}

body {
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  background: transparent;
}

.clay {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(71, 71, 71, 0.5),
    inset -8px -8px 16px 0px rgba(71, 71, 71, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}
